<div id="page">
  <div id="navbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <a mat-button [routerLink]="['/books']"> Books </a>
          <a mat-button [routerLink]="['/about']"> About </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
