<mat-expansion-panel class="panel-checkbox-filter" id="{{title}}-filter">
  <mat-expansion-panel-header>
    <mat-panel-title>{{title}}</mat-panel-title>
    <mat-panel-description >{{activeFilterCount}} filters active</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="filter-list">
    <ul class="no-bullet">
      <li *ngFor="let value of values | sortBy">
          <mat-checkbox name="{{value}}" (change)="checkboxChanged($event)">{{value}}</mat-checkbox>
        </li>
    </ul>
  </div>
</mat-expansion-panel>
