@import '../../../assets/variables.scss';

.no-bullet {
  list-style-type: none;
}
.no-bullet > li {
  word-wrap: break-word;
}

.filter-list {
  overflow-y: auto;
}

@media only screen and (max-width: $breakpointCol) {
  .filter-list {
    max-height: calc(#{$maxHeight-colLayout} - 200px);
  }
}

@media only screen and (min-width: $breakpointCol) {
  .filter-list {
    max-height: calc(#{$maxHeight-rowLayout} - 220px);
  }
}

::ng-deep .mat-accordion .mat-expansion-panel {
  border-radius: 0px;
}
