<form class="search-from">
  <mat-form-field class="search-field">
    <mat-label>Search in titles</mat-label>
    <input matInput placholder="Book title" [formControl]="titleSearch" />
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="titleSearch.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
