<h1>About</h1>
<h2>The books</h2>
<p>On April, 2nd 2020 SpringerNatureGroup <a href="https://group.springernature.com/fr/group/media/press-releases/freely-accessible-textbook-initiative-for-educators-and-students/17858180">announced</a>
to make key textbook freely avilable for educators, students and academicy during the COVID-19 lockdown. However, they only <a href="https://www.springernature.com/gp/librarians/news-events/all-news-articles/industry-news-initiatives/free-access-to-textbooks-for-institutions-affected-by-coronaviru/17855960">supplied</a> Excel-Files with the books listed.</p>

<h2>Make the books better accessible</h2>
<p>At work we just decided to go and use Angular Material for a new project. As I do not have any experience using this framework, I've decided to create this page.
Using Angular, Angular Material, node.js and the excel files to create a searchable website with the free books.</p>

<p>As this is my first project using Angular Material expect it to be a little buggy on the layout end. Feel free to checkout the
  <a href="https://gitlab.com/inw/springerbooks">repository</a> at GitLab, create pull requests or issues.

<h2>Disclaimer</h2>
I'm in no ways afiliated with the SpringerNatureGroup and I'm just using their published excel files. Alle the book links go directly to
the SpringerNatureGroup website.

