<div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="start top" fxLayoutGap="10px">
  <app-book-filter fxFlex.lt-lg="100" fxFlex.gt-md="30" [filterables]="filterables" (filterChanged)="filtersChanged($event)"></app-book-filter>
  <app-book-list  fxFlex.lt-lg="100" fxFlex.gt-md="70" fxFlex [books]="booksToDisplay"></app-book-list>
</div>
