@import '../../assets/variables.scss';

.book-card {
  max-height: $maxHeight-rowLayout;
}

@media only screen and (min-width: $breakpointCol) {
  .book-card {
    min-height: $maxHeight-rowLayout;
  }
  .book-table {
    max-height: calc(#{$maxHeight-rowLayout} - 100px);
  }
}

@media only screen and (max-width: $breakpointCol) {
  .book-table {
    max-height: calc(#{$maxHeight-colLayout} - 100px);
  }
}

.book-card-content {
  margin-left: 2%;
  margin-right: 2%;
}
.search {
  width: 100%;
}

.book-table {
  //max-height: calc(#{$maxHeight-colLayout} - 100px);
  overflow: auto;
}

.mat-column-title {
  word-wrap: normal;
  padding-right: 10px;
}

.mat-column-edition {
  word-wrap: normal;
  padding-right: 10px;
}


th.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}
