@import '../../assets/variables.scss';

:host ::ng-deep .mat-accordion .filter-selection:first-of-type .mat-expansion-panel {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

:host ::ng-deep .mat-accordion .filter-selection:last-of-type .mat-expansion-panel {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

:host ::ng-deep .mat-accordion .filter-selection .mat-expansion-panel {
  border-radius: 0px;
}

:host ::ng-deep .mat-accordion .filter-selection .mat-expansion-panel .mat-expansion-panel-header-title {
  min-width: 200px;
}

.filter-card {
  max-height: $maxHeight-rowLayout;
}

@media only screen and (min-width: $breakpointCol) {
  .filter-card {
    min-height: $maxHeight-rowLayout;
  }
}



