<mat-card class="book-card">
  <mat-card-title class="title">
    Books
  </mat-card-title>
  <mat-card-content class="book-card-content">
    <div class="search">
      <app-search (searchChanged)="filterTitles($event)"></app-search>
    </div>
    <div class="book-table">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let book">
            <a href="{{ book.url }}">{{ book.title }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="edition">
          <th mat-header-cell *matHeaderCellDef>Edition</th>
          <td mat-cell *matCellDef="let book">{{ book.edition }}</td>
        </ng-container>

        <ng-container matColumnDef="package">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Package</th>
          <td mat-cell *matCellDef="let book">{{ book.package }}</td>>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
</mat-card-content>
</mat-card>
