<mat-card class="filter-card">
  <mat-card-title>
    Filter
  </mat-card-title>
  <mat-accordion>
    <app-book-checkbox-selection class="filter-selection"
      [values]="filterables.languange"
      title="Language"
      (selectionChanged)="languageFilterChanged($event)"></app-book-checkbox-selection>

    <app-book-checkbox-selection class="filter-selection"
      [values]="filterables.packages"
      title="Packages"
      (selectionChanged)="packageFilterChanged($event)"></app-book-checkbox-selection>

    <app-book-checkbox-selection class="filter-selection"
      [values]="filterables.tags"
      title="Tags"
      (selectionChanged)="tagsFilterChanged($event)"></app-book-checkbox-selection>
  </mat-accordion>
</mat-card>
